<div class="contenedor">
  <h2 style="color: #0f265c">Movimientos</h2>

  <div class="menu">
    <input
      #searchInput
      type="search"
      placeholder="Buscar"
      (keyup)="searchCliente(searchInput.value)"
    />
    <button class="button-new" routerLink="./agregar">Nuevo</button>
  </div>

  <app-modal
    *ngIf="!hideModal"
    (pressEliminar)="eliminarElemento($event)"
  ></app-modal>

  <div style="margin-top: 50px">
    <table class="table" style="width: 100%">
      <thead>
        <tr>
          <th>Numero de cuenta</th>
          <th>Tipo de movimiento</th>
          <th>Valor</th>
          <th>Fecha</th>
          <th>Saldo disponible</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movimiento of filteredMovimientos">
          <td>{{ movimiento.cuenta.numero }}</td>
          <td>{{ movimiento["tipo_movimiento"] }}</td>
          <td>{{ movimiento.monto }}</td>
          <td>{{ movimiento.fecha | date : "MMM d, y, h:mm:ss a" }}</td>
          <td>{{ movimiento["saldo_disponible"] }}</td>
          <td class="row-actions">
            <div class="icon">
              <i
                class="fa-solid fa-pen"
                style="margin-right: 15px"
                [routerLink]="['./', movimiento.id]"
              ></i>
              <i
                class="fa-solid fa-trash"
                (click)="hideModal = false; id = movimiento.id"
              ></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
