.contenedor {
  padding-left: 50px;
  padding-right: 50px;
}

.menu {
  display: flex;
  justify-content: space-between !important;
  height: 100%;
}

.button-new {
  background-color: #ffdd00;
  border-color: #ffdd00;
  color: #0f265c;
  width: 100px;
  height: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #000;
}

.form-row {
  margin: 15px;
}

label {
  margin-right: 10px;
}
